<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Weekly Workout Menu
                </a>
            </li>
            <li>
                <a href="{{ path('homepage') }}">Home</a> <br/>
            </li>
            <li>
                <a href="{{ path('workout_create') }}">Add New Workout</a>&nbsp; &nbsp; &nbsp;<img src="{{ asset('images/icons/glyphicons-433-plus.png') }}" width="20" height="20"/>
            </li>
            <li>
                <a href="{{ path('workout_list') }}">View Workouts</a> &nbsp; &nbsp; &nbsp;<img src="{{ asset('images/icons/glyphicons-530-list-alt.png') }}" width="20" height="20"/>
            </li>
            <li>
                <a href="{{ path('heartrate_create') }}">HR Calculator</a>&nbsp; &nbsp; &nbsp;<img src="{{ asset('images/icons/glyphicons-324-calculator.png') }}" width="20" height="20"/>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</div>